body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

a {
  color: #00B7FF;
  margin: 15px 10px 0 25px;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: teal;
}

h1 {
  display: flex;
  justify-content: center;
}

#cont, #info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 4fr 1fr 1fr;
}

#new-form {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

#show-flight, #enter-data {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#dest-header, #dest-contents {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 5fr 1fr;
}

#new-destination {
  display: grid;
  justify-content: center;
}

#delete-button {
  background-color: red;
  color: white;
  border-radius: 5px;
}

#ticket {
  display: grid;
  justify-content: center;
}

#tickets {
  margin: 0 auto;
}

#tickets {
  width: 50%;
  border-collapse: collapse;
}

#tickets, #ticket-table-header, #ticket-table {
  border: solid black;
}

#ticket-table-header {
  font-size: 30px;
  margin: 10px;
}